/* Write CSS Here */

body {
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	border-style: groove;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.l {
	position: initial;
		padding: 20px;

}
.r {
	position: initial;
	padding: 20px;

}
.table, th, td {
  border: 1px solid black;
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .act {
	margin-bottom: 30px;
}

